<%= form_with url: dogs_path, method: method, local: true do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :name, class: 'form-control', id: 'name', placeholder: 'Name' %>
    <%= f.label 'Name', for: 'name' %>
  </div>
  <div class="form-floating mb-3">
    <%= f.number_field :age, class: 'form-control', id: 'age', placeholder: 'Age', min: 1, max: 20 %>
    <%= f.label 'Age', for: 'age' %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :breed, class: 'form-control', id: 'breed', placeholder: 'Breed' %>
    <%= f.label 'Breed', for: 'breed' %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :sex, class: 'form-control', id: 'sex', placeholder: 'Male/Female' %>
    <%= f.label 'Sex', for: 'sex' %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :description, class: 'form-control', id: 'description', placeholder: 'Tell us all about your pooch!' %>
    <%= f.label 'Description', for: 'description' %>
  </div>

    <%= f.label :size, class: 'form-label' %>
    <%= f.select :size, ['small', 'medium', 'large']%>
    <br>
    <%= f.label :vaccinated, class: 'form-label' %>
    <%= f.select :vaccinated, [['no', 'false'], ['yes', 'true']]%>
    <br>
    <%= f.label :trained, class: 'form-label' %>
    <%= f.select :trained, ['no', 'yes']%><br>

  <%= f.submit 'Add Dog', class: 'btn btn-outline-success', id: 'submit-btn' %>
<% end %>
