<h1>Welcome, <%= current_user.name %></h1>

<h3>Please update your profile!</h3>

<%= form_with url: user_path(current_user), method: :patch, local: true do |f| %>
  <%= f.hidden_field :location_id, value: @location %>

  <%= f.label :location, "Enter City and State (ex: Denver, CO)" %>
  <%= f.date_field :location %><br>

  <%= f.submit "Update Profile" %><br>
<% end %>
