<h1>Welcome <%= current_user.email %>!</h1>

<div id="location">
  <% if current_user.location.nil? %>
    <%= link_to 'Pawleese add your location!', edit_user_path(current_user) %>
  <% else %>
    <%= link_to 'Find a Playdate for Your Pupper!', dogs_path, class: 'link-dark' %>
  <% end %>
</div>

<br/>
<%= render 'shared/dogfact', cached: true %>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container pt-5">
        <% @dogs&.each_slice(2) do |group| %>
        <div class="row">
          <% group.each do |dog| %>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
               <h5 class="card-title"><%= link_to "#{dog.name}", dog_path(dog.id), id: 'card-link' %></h5>
                <p class="card-text"><%= dog&.description %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
        <div class="row">
          <%= link_to 'Add new dog', new_dog_path, class: 'nav-link' %>
        </div>
      </div>
    </div>
    <div class="col">
      <% @pending_invites&.each do |invite| %>
        Date: <%= invite.date %><br>
        Time: <%= invite.time %><br>
        <%= button_to 'Accept', play_date_path(invite.id), params: { status: 1 }, method: :patch %>
        <%= button_to 'Reject', play_date_path(invite.id), params: { status: 2 }, method: :patch %>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</div>
