<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <!-- <img src="https://user-images.githubusercontent.com/81711519/140663382-65955342-af6a-4613-9f7c-653cad31c52b.png" alt="Bones Logo" style="width:150px;" class="squared-pill"> -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class='navbar-nav'>
      <% if !current_user %>
        <%= link_to 'Sign In with Google',  '/auth/google_oauth2', class: 'nav-link' %>
      <% else %>
        <%= link_to 'Find a Playdate', dogs_path, class: 'nav-link' %>
        <%= link_to 'My Playdates', play_dates_path, class: 'nav-link' %>
      </div>
      <div class='navbar-nav ms-auto'>
        <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
        <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'nav-link' %>
        <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
      </div>
    <% end %>
    </div>
  </div>
</nav>
