<h1>hey</h1>
<%= image_tag @location.image %><br>
<%= @location.name %><br>
<%= @location.address %><br>
<%= @play_date.date %><br>
<%= @play_date.time %><br>
Invited Dog: <%= @play_date.invited_dog.name %><br>
Your Dog: <%= @play_date.creator_dog.name %><br>
